* {
	background: rgb(255, 187, 255);
}

#masthead {
	position: fixed;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	border-bottom: 2px solid #FFF;
	background: rgb(255, 118, 164);
}
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
	
}
nav {
	float: right;
	margin-top: 25px;
	font-size: 18px;
	background: rgb(255, 118, 164);
}
nav a {
	display: inline-block;
	padding-left: 15px;
	margin-left: 15px;
	line-height: 18px;
	background: rgb(255, 118, 164);
	text-decoration: none;
	border-left: 1px solid gray;
}
nav a: first-child {
	border-left: 0 none;
	background: rgb(255, 118, 164);
}
#main-container {
	padding-top: 130px;
	
}
.main-section {
	float: left;
	width: 100%;
	max-width: 650px;
	padding: 30px;
	margin: 0 0 40px;

	border: 1px solid #000;
}
.auth-image {
	float: left;
	width: 200px;
	height: auto;
	margin-top: 10px;
	margin-right: 25px;
}
.sidebar {
	float: right;
	width: 100%;
	max-width: 270px;
	padding: 30px;
	margin-bottom: 20px;

	border: 10px dotted black;
}
h3, .sidebar h2 {
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	border-bottom: 2px solid rgb(255, 187, 255);
}

.social {
	width: 270px;
	height: 170px;
	margin-top: 8px;
	margin-right: 5px; 
}

.work {
	position: relative;
	float: left;
	width: 274px;
	margin: 20px 0 25px;
	overflow: auto;
}

footer {
	padding: 30px 0;
	clear: both;
	font-size: 14px;
	color: black;
	text-align: center;
	background: rgb(255, 160, 160);
	border-top: 8px solid black;
}